.dd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .mel h1{
    font-family: 'Manjari';
    font-weight: 700;
    font-size: 3.125em;
    color: #2B2B2B;
    text-align: center;
    color: #2F2F2F;
    padding-top: 6rem;
}
.mel p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5em;
    line-height: 32px;
    /* margin-top: -5em; */
    margin-bottom: 1em;
    color: #454545;
    text-align: center;
    letter-spacing: -0.5px;
}

@media screen and (max-width: 1114px){
    .tab{
        padding: .9em 4em;
    }  
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px){
    .meal p{
        font-size: 1.6em;
    } 
}
/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 670px){
    .meal h1{
        font-size: 2em;
        line-height: 55px;
    }

    .meal p{
        font-size: 1.25em;
        margin-top: -4.4em;
        line-height: 28px;
    }
}
