

.update-modal-account h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}

.update-modal-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-modal-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-modal-input-container1 {
    display: flex;
    gap: 10px;
}
.update-modal-input-container1 div {
    flex: 1;  
}

.update-modal-input-container1 div input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #EDEDF3;
    border-radius: 5px;
    height: 56px;
}

.update-modal-input-container input {
    padding: 10px;
    border: 1px solid #EDEDF3;
    border-radius: 5px;
    height: 56px;
}

.update-modal-button-container button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #FE7E00;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    width: 144px;
}

.update-modal-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


.readonly-input {
    border: 1px solid #EDEDF3; /* Light grey border */
    pointer-events: none; /* Prevents interaction */
  }
  
  .readonly-input:focus {
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove focus shadow */
  }