.update-modal-account h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}

.update-modal-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-modal-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-modal-input-container1 div {
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.update-modal-input-container1 div input {
    padding: 10px;
    border: 1px solid #EDEDF3;
    border-radius: 5px;
    height: 56px;
}

.update-modal-input-container input {
    padding: 10px;
    border: 1px solid #EDEDF3;
    border-radius: 5px;
    height: 56px;
}