.overview-container {
  display: flex;
  background-color: #f4f4f4;
  padding: 10px;
  gap: 10px;
}

.overview-container-first {
  background-color: #ffffff;
  border-radius: 4px;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overview-container-first-section {
  background-color: #fff2eb;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 0 10px;
}

.overview-container-img{
  max-width: 130px;
  align-self: flex-end;
}

.overview-container-img img{
  width: 100%;
}

.overview-top-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.overview-top-content h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.015em;  
}

.overview-top-content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.015em;
  margin: 4px 0 10px 0;
}

.overview-top-content button {
  width: 107px;
  height: 32px;
  border-radius: 6px;
  padding: 8px, 12px, 8px, 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: #fe7e00;
  color: #ffffff;
  margin-bottom: 10px;
}

.loading-container{
  height: 75vh;
}


.overview-meal-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 14px;
}

.overview-meal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 16px 0;
}

.overview-meal-heading .overview-meal-heading-title {
  color: #303237;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.015em;
}

.overview-meal-pagination-container{
  display: flex;
  align-items: center;
  gap: 12px;
}

.overview-meal-heading button {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fe7e00;
  padding: 10px;
  background-color: #FFE8D1;
  border-radius: 5px;
  width: 100px;
}

.overview-meal-heading .pages-data{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.015em;
}

.meal-container {
  background-color: rgba(244, 245, 248, 1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.meal-image-container{
  margin-top: 8px;
  width: 100%;
  align-self: center;
}

.meal-image{
  margin: auto;
  border-radius: 12px;
  width: 94%;
  max-height: 150px;
  object-fit: cover;
}

.meal-details-container{
  margin: 0 9.74px;
}

.meal-details-container .meal-name{
  font-weight: 400;
  font-size: 17.04px;
  line-height: 24.34px;
}

.meal-details-container .meal-price{
  color: rgba(254, 126, 0, 1);
  font-weight: 700;
  font-size: 19.47px;
  line-height: 29.21px;
}


.add-to-cart-button {
  width: 29.21px;
  height: 29.21px;
  border-radius: 16px;
  background-color: #fe7e00;
  box-shadow: 0px 4.87px 4.87px 0px rgba(254, 126, 0, 0.3);
  align-self: flex-end;
  margin: 0 9.74px 5.74px 0;
}

.add-to-cart-button img{
  margin: auto;
}

.overview-last-container {
  background-color: #fff2eb;
  width: 351px;
  height: 280px;
  padding: 18px 17px 18px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.overview-last-container h3{
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  max-width: 50%;
}

.overview-last-container button {
  background: linear-gradient(to right, #fe7e00, #fe0000);
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.overview-dropdown {
  position: relative;
  display: inline-block;
}

.overview-dropdown-button {
  background-color: #fe7e00;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 200px;
  text-align: left;
}

.overview-dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.overview-dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.overview-dropdown-content p:hover {
  background-color: #f1f1f1;
}

.overview-dropdown .overview-dropdown-button:focus + .overview-dropdown-content,
.overview-dropdown .overview-dropdown-button:active + .overview-dropdown-content,
.overview-dropdown .overview-dropdown-content:hover {
  display: block;
}

/* Update */

/* Select country */
.select-country-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border: 0.5px solid rgba(181, 181, 181, 1);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.select-country-btn > .select-country-btn-title{
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  color: rgba(181, 181, 181, 1);
}


/* Order now */

.order-now-container{
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 25px;
  background: linear-gradient(207.81deg, #FE7E00 16.32%, #FE0000 105.01%);
}

.order-now-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 14.11px;
}

.order-now-price-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-now-price-tag{
  color: #ffffff;
  background: rgba(255, 0, 0, 1);
  padding: 8.89px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.21px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  width: fit-content;
  z-index: 1;
}

.order-now-price-card{
  margin-top: -20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
  padding: 24px 8px 16px 8px;
  border-radius: 12px;
}

.order-now-price-card-header{
  text-align: center;
}

.order-now-price-card-header-title{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.015em;
  margin-bottom: 4px;
}

.order-now-price-card-header-subtitle{
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: rgba(92, 85, 108, 1);
}

.days-of-the-week-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 18px 0 18px;
  border-top: 0.8px solid rgba(30, 30, 30, 0.2);
  margin: 24px 0;
}

.day-of-the-week{
  display: flex;
  justify-content: space-between;
}

.day-of-the-week-name{
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.015em;
}

.order-now-btn-container{
  width: 100%;
}

.order-now-btn{
  background: linear-gradient(264.09deg, #FE7E00 11.59%, #FE0000 105.81%);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 0;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
}

.order-now-subtext{
  font-size: 12px;
  font-weight: 600;
  line-height: 11.48px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 12px;
  background: linear-gradient(264.09deg, #FE7E00 11.59%, #FE0000 105.81%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

