.overview-container {
  display: flex;
  background-color: #f4f4f4;
  padding: 10px;
  gap: 10px;
}

.overview-container-first {
  background-color: #ffffff;
  border-radius: 4px;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overview-container-first-section {
  background-color: #fff2eb;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 0 10px;
}

.overview-top-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 368px;
}

.overview-top-content h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.overview-top-content p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.overview-top-content button {
  width: 107px;
  height: 32px;
  border-radius: 6px;
  padding: 8px, 12px, 8px, 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: #fe7e00;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.overview-container-search {
  width: 100%;
}

.overview-container-search input {
  border: 1px solid #b5b5b5;
  padding: 8px;
  border-radius: 8px;
  min-width: 100%;
}

.overview-meal-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
 
}

.overview-meal-heading {
  display: flex;
  justify-content: space-between;
}

.overview-meal-heading h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #303237;
}

.overview-meal-heading p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fe7e00;
}

.meal-container {
  background-color: #f4f5f8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.meal-container h3 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.cart-container{
  width: 100%;
  display: flex;
  
}

.add-to-cart{
 width: 24px;
  height: 24px;
  border-radius: 16px;
  background-color: #fe7e00;
 display: flex;
 justify-content: center;
align-items: center;
color: white;
cursor: pointer;
}

.overview-last-container{
  background-color: #FFF2EB;
 width: 351px;
 height: 280px;
 padding: 18px 17px 18px 17px;
 display: flex;
 flex-direction: column;
 justify-content: center;
  align-items: center;
  gap: 10px;
}
.overview-last-container button {
  background: linear-gradient(to right, #FE7E00, #FE0000);
  border-radius: 8px;
  padding: 10px;
  width: 198px;
  height: 36px;
  color: white;
}
