@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manjari:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: 0;
}

:root {
  --container-width-lg: 85%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
}
.tabTitle {
  cursor: pointer;
}
.tabSides{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tabTitle li{
  list-style: none;
}
.tabTitle h4{
  font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.5px;
color: #454545;
}
input[type="radio"] {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #FE7E00;
  background-color: #FE7E00;
  /* border: solid 1px var(--Grey2); */
}

input:checked[type="radio"] {
  width: 1.5em;
  height: 1.5em;
  color: red;
  border: 1px solid #FE7E00;
  background-color: #FE7E00;
}


.activeS h4 {
  color: #FE7E00;
}

html,
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manjari", sans-serif;
}
button {
  cursor: pointer;
}
nav {
  color: black;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
/* added button with disabled state */
button:disabled {
  opacity: 0.4;
  pointer-events: none;
  transition: 0.2s ease-in;
}
.disabledC {
  opacity: 0.4;
  pointer-events: none;
  transition: 0.2s ease-in;
}
/* */

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  .tabSides{
    gap: .5rem;
  }
  .tabTitle h4{
    font-size: 1.2rem;
  }
}
